{% extends 'base.html' %}
{% load static %}

{% block title%}
    Research
{% endblock %}


{% block content %}

<h1> Research </h2>
<div style="border-top: 1px solid black; padding-top: 5px;">
    
    <div>
        <h2>Published</h2>
        <ul>
            <li>“Interest Groups and Central Banking” w/ Louis Rouanet forthcoming in Routledge Handbook in Economic History</li>
        </ul>
    </div>

    <div>
        <h2>Working Papers</h2>
        <ul>
            <li>“A Historical Perspective on the Redistributive Politics of the Federal Reserve”</li>
            <li>“Mission Creep at Threadneedle Street: The Political Economy of Bank of England’s Interwar Interventions”</li>
            <li>“Mechanomorphism of Modern Economics” w/ Peter J. Boettke</li>
            <li>“The Rule of Law in International Economic Development: An Application of Hayekian Principles” w/ Paoala Suarez-Rocabado</li>
            <li>“The Monetary Economics of S. Herbert Frankel”</li>
        </ul>
    </div>

    <div>
        <h2>Works in Progress</h2>
        <ul>
            <li>“Militarizing Money”</li>
        </ul>
    </div>

</div>

{% endblock %}

